services:
  ipfs_node:
    image: ipfs/kubo
    ports:
      - "4001:4001" # IPFS Swarm Port
      - "5001:5001" # IPFS API Port
      - "8080:8080" # IPFS Gateway Port
    volumes:
      - ipfs_data:/data/ipfs
    command: [ "daemon", "--migrate=true" ]
  eth_node:
    image: ethereum/client-go:v1.14.11
    ports:
      - 8545:8545
      - 8546:8546
    command: --verbosity 1 --http.vhosts '*,localhost,host.docker.internal' --http --http.api eth,net,web3,debug --http.corsdomain '*' --http.addr "0.0.0.0" --ws --ws.api eth,net,web3,debug --ws.origins '*' --ws.addr "0.0.0.0" --networkid 1337 --dev --dev.period 0 --allow-insecure-unlock --rpc.allow-unprotected-txs --dev.gaslimit 20000000

volumes:
  ipfs_data:
